<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.woorinet.plugin.demo.Mapper.QNETMapper">

    <!--    SETTINHG    -->

    <select id="initDatabase">
        CREATE DATABASE IF NOT EXISTS QNET
    </select>

    <select id="initNodeTable">
        CREATE TABLE IF NOT EXISTS QNET.NODE (
            `ID` varchar(100) default '',
            `UID` varchar(100) default '',
            `NAME` varchar(100) default '',
            `ENABLED` varchar(100) default '',
            `DESCRIPTION` varchar(100) default '',
            `GROUPID` varchar(100) default '',
            `GROUPSTR` varchar(100) default '',
            `UNIQUEID` varchar(100) default '',
            `QNCWEBAPIURL` varchar(100) default '',
            `QNCWEBAPIAUTH` varchar(100) default '',
            `CERT` varchar(100) default '',
            `KEMS_CERT` varchar(100) default '',
            `NETWORK` TEXT,
            `CONSUMERS` TEXT ,
            `PROVIDERS` TEXT ,
            `LOCX` varchar(100) default '',
            `LOCY` varchar(100) default '',
            `LAT` varchar(100) default '',
            `LON` varchar(100) default '',
            PRIMARY KEY (ID)
        )
    </select>

    <!--    INSERT    -->
    <select id="insertNode" parameterType="com.woorinet.plugin.demo.DTO.QNET.NODE">
        REPLACE INTO
        QNET.NODE(
        ID,
        UID,
        NAME,
        ENABLED,
        DESCRIPTION,
        GROUPID,
        GROUPSTR,
        UNIQUEID,
        QNCWEBAPIURL,
        QNCWEBAPIAUTH,
        CERT,
        KEMS_CERT,
        NETWORK,
        CONSUMERS,
        PROVIDERS,
        LOCX,
        LOCY,
        LAT,
        LON
        ) VALUES (
        #{ID},
        #{UID},
        #{NAME},
        #{ENABLED},
        #{DESCRIPTION},
        #{GROUPID},
        #{GROUPSTR},
        #{UNIQUEID},
        #{QNCWEBAPIURL},
        #{QNCWEBAPIAUTH},
        #{CERT},
        #{KEMS_CERT},
        #{NETWORK},
        #{CONSUMERS},
        #{PROVIDERS},
        #{LOCX},
        #{LOCY},
        #{LAT},
        #{LON}
        )
    </select>

</mapper>