<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.woorinet.plugin.demo.Mapper.QNETMapper">

    <!--    SETTINHG    -->

    <select id="initDatabase">
        CREATE DATABASE IF NOT EXISTS QNET
    </select>

    <select id="initNodeTable">
        CREATE TABLE IF NOT EXISTS QNET.NODE (
            `ID` varchar(100) default '',
            `UID` varchar(100) default '',
            `NAME` varchar(100) default '',
            `ENABLED` varchar(100) default '',
            `DESCRIPTION` varchar(100) default '',
            `GROUPID` varchar(100) default '',
            `GROUPSTR` varchar(100) default '',
            `UNIQUEID` varchar(100) default '',
            `QNCWEBAPIURL` varchar(100) default '',
            `QNCWEBAPIAUTH` varchar(100) default '',
            `CERT` varchar(100) default '',
            `KEMS_CERT` varchar(100) default '',
            `NETWORK` TEXT,
            `CONSUMERS` TEXT ,
            `PROVIDERS` TEXT ,
            `LOCX` varchar(100) default '',
            `LOCY` varchar(100) default '',
            `LAT` varchar(100) default '',
            `LON` varchar(100) default '',
            PRIMARY KEY (ID)
        )
    </select>

    <select id="initNodeLinkTable">
        CREATE TABLE IF NOT EXISTS QNET.NODELINK (
        `ID` varchar(100) default '',
        `NAME` varchar(100) default '',
        `UID` varchar(100) default '',
        `TYPE` varchar(100) default '',
        `ALGORITHM` varchar(100) default '',
        `WEIGHT` varchar(100) default '',
        `PSK` varchar(100) default '',
        `SOURCE` varchar(100) default '',
        `DEST` varchar(100) default '',
        PRIMARY KEY (ID)
        )
    </select>

    <select id="initConsumerLinkTable">
        CREATE TABLE IF NOT EXISTS QNET.CONSUMERLINK (
        `ID` varchar(100) default '',
        `UID` varchar(100) default '',
        `NAME` varchar(100) default '',
        `OPERMODE` varchar(100) default '',
        `SOURCE` TEXT ,
        `DEST` TEXT ,
        `PRESHAREDKEY` varchar(100) default '',
        `QKEYSTORE` TEXT,
        PRIMARY KEY (ID)
        )
    </select>

    <select id="initProviderLinkTable">
        CREATE TABLE IF NOT EXISTS QNET.PROVIDERLINK (
        `ID` varchar(100) default '',
        `UID` varchar(100) default '',
        `NAME` varchar(100) default '',
        `MODE` varchar(100) default '',
        `SOURCE` TEXT ,
        `DESTINATION` TEXT ,
        `QKEYSTORE` TEXT,
        PRIMARY KEY (ID)
        )
    </select>

    <!--    INSERT    -->
    <select id="insertNode" parameterType="com.woorinet.plugin.demo.DTO.QNET.NODE">
        REPLACE INTO
        QNET.NODE(
        ID,
        UID,
        NAME,
        ENABLED,
        DESCRIPTION,
        GROUPID,
        GROUPSTR,
        UNIQUEID,
        QNCWEBAPIURL,
        QNCWEBAPIAUTH,
        CERT,
        KEMS_CERT,
        NETWORK,
        CONSUMERS,
        PROVIDERS,
        LOCX,
        LOCY,
        LAT,
        LON
        ) VALUES (
        #{ID},
        #{UID},
        #{NAME},
        #{ENABLED},
        #{DESCRIPTION},
        #{GROUPID},
        #{GROUPSTR},
        #{UNIQUEID},
        #{QNCWEBAPIURL},
        #{QNCWEBAPIAUTH},
        #{CERT},
        #{KEMS_CERT},
        #{NETWORK},
        #{CONSUMERS},
        #{PROVIDERS},
        #{LOCX},
        #{LOCY},
        #{LAT},
        #{LON}
        )
    </select>
    <select id="insertNodeLink" parameterType="com.woorinet.plugin.demo.DTO.QNET.NODELINK">
        REPLACE INTO
        QNET.NODELINK(
        ID,
        NAME,
        UID,
        TYPE,
        ALGORITHM,
        WEIGHT,
        PSK,
        SOURCE,
        DEST
        ) VALUES (
        #{ID},
        #{NAME},
        #{UID},
        #{TYPE},
        #{ALGORITHM},
        #{WEIGHT},
        #{PSK},
        #{SOURCE},
        #{DEST}
        )
    </select>
    <select id="insertConsumerLink" parameterType="com.woorinet.plugin.demo.DTO.QNET.CONSUMERLINK">
        REPLACE INTO
        QNET.CONSUMERLINK(
        ID,
        UID,
        NAME,
        OPERMODE,
        SOURCE,
        DEST,
        PRESHAREDKEY,
        QKEYSTORE
        ) VALUES (
        #{ID},
        #{UID},
        #{NAME},
        #{OPERMODE},
        #{SOURCE},
        #{DEST},
        #{PRESHAREDKEY},
        #{QKEYSTORE}
        )
    </select>
    <select id="insertProviderLink" parameterType="com.woorinet.plugin.demo.DTO.QNET.PROVIDERLINK">
        REPLACE INTO
        QNET.PROVIDERLINK(
        ID,
        UID,
        NAME,
        MODE,
        SOURCE,
        DESTINATION,
        QKEYSTORE
        ) VALUES (
        #{ID},
        #{UID},
        #{NAME},
        #{MODE},
        #{SOURCE},
        #{DESTINATION},
        #{QKEYSTORE}
        )
    </select>


</mapper>