<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woorinet.plugin.demo.Mapper.SDNMapper" >

    <!--    SETTINHG    -->

    <select id="initDatabase">
        CREATE DATABASE IF NOT EXISTS SDN
    </select>

    <select id="initNodeTable">
        CREATE TABLE IF NOT EXISTS SDN.Node (
        ems_id int,
        ne_id varchar(100) default '',
        ne_name varchar(100) default '',
        ne_type varchar(100) default '',
        ne_model varchar(100) default '',
        ne_status varchar(100) default '',
        sw_ver varchar(100) default '',
        ip_addr varchar(100) default '',
        vendor varchar(100) default '',
        serial_num varchar(100) default '',
        sys_type varchar(100) default '',
        PRIMARY KEY (ne_id)
        )
    </select>

    <select id="initConnector">
        CREATE TABLE IF NOT EXISTS SDN.Connector (
        ems_id int,
        connect_id varchar(100) default '',
        connect_name varchar(100) default '',
        connect_type varchar(100) default '',
        ne_id varchar(100) default '',
        ne_name varchar(100) default '',
        rack_id varchar(100) default '',
        shelf_id varchar(100) default '',
        slot_id varchar(100) default '',
        subslot_id varchar(100) default '',
        port_id varchar(100) default '',
        connect_status varchar(100) default '',
        connect_role varchar(100) default '',
        connect_idle varchar(100) default '',
        connect_llcf varchar(100) default '',
        connect_lambda varchar(100) default '',
        module_name varchar(100) default '',
        connect_pec varchar(100) default '',
        connect_serial varchar(100) default '',
        unit_type varchar(100) default '',
        PRIMARY KEY (connect_id)
        )

    </select>

    <!--    INSERT    -->

    <select id="insertNode" parameterType="com.woorinet.plugin.demo.DTO.SDN.NODE">
        REPLACE INTO
        SDN.Node(
        ems_id,
        ne_id,
        ne_name,
        ne_type,
        ne_model,
        ne_status,
        sw_ver,
        ip_addr,
        vendor,
        serial_num,
        sys_type
        ) VALUES (
        #{ems_id},
        #{ne_id},
        #{ne_name},
        #{ne_type},
        #{ne_model},
        #{ne_status},
        #{sw_ver},
        #{ip_addr},
        #{vendor},
        #{serial_num},
        #{sys_type}
        )
    </select>

    <select id="insertConnector" parameterType="com.woorinet.plugin.demo.DTO.SDN.CONNECTOR">
        REPLACE INTO
        SDN.Connector(
        ems_id,
        connect_id,
        connect_type,
        ne_id,
        ne_name,
        rack_id,
        shelf_id,
        slot_id,
        subslot_id,
        port_id,
        connect_status,
        connect_role,
        connect_idle,
        connect_llcf,
        connect_lambda,
        module_name,
        connect_pec,
        connect_serial,
        unit_type
        ) VALUES (
        #{ems_id},
        #{connect_id},
        #{connect_type},
        #{ne_id},
        #{ne_name},
        #{rack_id},
        #{shelf_id},
        #{slot_id},
        #{subslot_id},
        #{port_id},
        #{connect_status},
        #{connect_role},
        #{connect_idle},
        #{connect_llcf},
        #{connect_lambda},
        #{module_name},
        #{connect_pec},
        #{connect_serial},
        #{unit_type}
        )
    </select>

</mapper>