<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woorinet.plugin.demo.Mapper.SDNMapper" >

    <!--    SETTINHG    -->

    <select id="initDatabase">
        CREATE DATABASE IF NOT EXISTS SDN
    </select>

    <select id="initNodeTable">
        CREATE TABLE IF NOT EXISTS SDN.Node (
        ems_id int,
        ne_id varchar(100) default '',
        ne_name varchar(100) default '',
        ne_type varchar(100) default '',
        ne_model varchar(100) default '',
        ne_status varchar(100) default '',
        sw_ver varchar(100) default '',
        ip_addr varchar(100) default '',
        vendor varchar(100) default '',
        serial_num varchar(100) default '',
        sys_type varchar(100) default '',
        PRIMARY KEY (ne_id)
        )
    </select>

    <select id="initConnector">
        CREATE TABLE IF NOT EXISTS SDN.Connector (
        ems_id int,
        connect_id varchar(100) default '',
        connect_name varchar(100) default '',
        connect_type varchar(100) default '',
        ne_id varchar(100) default '',
        ne_name varchar(100) default '',
        rack_id varchar(100) default '',
        shelf_id varchar(100) default '',
        slot_id varchar(100) default '',
        subslot_id varchar(100) default '',
        port_id varchar(100) default '',
        connect_status varchar(100) default '',
        connect_role varchar(100) default '',
        connect_idle varchar(100) default '',
        connect_llcf varchar(100) default '',
        connect_lambda varchar(100) default '',
        module_name varchar(100) default '',
        connect_pec varchar(100) default '',
        connect_serial varchar(100) default '',
        unit_type varchar(100) default '',
        PRIMARY KEY (connect_id)
        )

    </select>

    <select id="initLink">
        CREATE TABLE IF NOT EXISTS SDN.LINK (
        ems_id int,
        dst_ems_id int,
        link_id varchar(100) default '',
        link_nm varchar(100) default '',
        src_ne_id varchar(100) default '',
        src_ne_name varchar(100) default '',
        src_node_connector_id varchar(100) default '',
        dst_ne_id varchar(100) default '',
        dst_ne_name varchar(100) default '',
        dst_node_connector_id varchar(100) default '',
        link_type varchar(100) default '',
        link_status varchar(100) default '',
        link_category varchar(100) default '',
        high_order_tunnel varchar(100) default '',
        latency varchar(100) default '',
        distance varchar(100) default '',
        srlg varchar(100) default '',
        ovpn varchar(100) default '',
        timeslot varchar(100) default '',
        lambda varchar(100) default '',
        maximum_odu0s int,
        maximum_odu1s int,
        maximum_odu2s int,
        maximum_odu2es int,
        maximum_odu3s int,
        maximum_odu4s int,
        maximum_odu4cns int,
        maximum_oduflexs int,
        available_odu0s int,
        available_odu1s int,
        available_odu2s int,
        available_odu2es int,
        available_odu3s int,
        available_odu4s int,
        available_odu4cns int,
        available_oduflexs int,
        PRIMARY KEY (link_id)
        )
    </select>

    <select id="initService">
        CREATE TABLE IF NOT EXISTS SDN.SERVICE (
        ems_id int,
        service_id varchar(100) default '',
        src_ne_id varchar(100) default '',
        src_ne_name varchar(100) default '',
        src_connector_id varchar(100) default '',
        src_accessif_type varchar(100) default '',
        dst_ne_id varchar(100) default '',
        dst_ne_name varchar(100) default '',
        dst_connector_id varchar(100) default '',
        dst_accessif_type varchar(100) default '',
        service_type varchar(100) default '',
        service_name varchar(100) default '',
        network_type varchar(100) default '',
        service_status varchar(100) default '',
        rate_type varchar(100) default '',
        service_rate varchar(100) default '',
        latency varchar(100) default '',
        wavelength varchar(100) default '',
        active_path varchar(100) default '',
        creation_date varchar(100) default '',
        PRIMARY KEY (service_id)
        )
    </select>

    <select id="initTunnel">
        CREATE TABLE IF NOT EXISTS SDN.TUNNEL (
        ems_id int,
        tunnel_id varchar(100) default '',
        src_ne_id varchar(100) default '',
        src_ne_name varchar(100) default '',
        dst_ne_id varchar(100) default '',
        dst_ne_name varchar(100) default '',
        rate_type varchar(100) default '',
        multiple_rate varchar(100) default '',
        local_id varchar(100) default '',
        request_id varchar(100) default '',
        tunnel_name varchar(100) default '',
        tunnel_type varchar(100) default '',
        tunnel_status varchar(100) default '',
        configuration_action varchar(100) default '',
        configuration_result_type varchar(100) default '',
        tunnel_oam_enabler varchar(100) default '',
        deployment_enabler varchar(100) default '',
        deployment_status varchar(100) default '',
        active_path varchar(100) default '',
        src_node_ref varchar(100) default '',
        dst_node_ref varchar(100) default '',
        service_ref varchar(100) default '',
        accessif_ref varchar(100) default '',
        protection_type varchar(100) default '',
        working_path varchar(100) default '',
        protection_path varchar(100) default '',
        service_mapping varchar(100) default '',
        creation_date varchar(100) default '',
        PRIMARY KEY (tunnel_id)
        )
    </select>

    <select id="initAccessIf">
        CREATE TABLE IF NOT EXISTS SDN.ACCESSIF (
        ems_id int,
        accessif_id varchar(100) default '',
        accessif_name varchar(100) default '',
        ne_id varchar(100) default '',
        connector_id varchar(100) default '',
        accessif_type varchar(100) default '',
        accessif_status varchar(100) default '',
        service_ref varchar(100) default '',
        node_connector_ref varchar(100) default '',
        PRIMARY KEY (accessif_id)
        )
    </select>

    <select id="initConstraint">
        CREATE TABLE IF NOT EXISTS SDN.CONSTRAINT (
        ems_id int,
        service_id varchar(100) default '',
        const_id varchar(100) default '',
        const_type varchar(100) default '',
        const_name varchar(100) default '',
        const_value varchar(100) default '',
        const_operator varchar(100) default ''
        )
    </select>

    <select id="initPath">
        CREATE TABLE IF NOT EXISTS SDN.PATH (
        ems_id int,
        service_id varchar(100) default '',
        path_type varchar(100) default '',
        connection_idx varchar(100) default '',
        connection_type varchar(100) default '',
        direction_type varchar(100) default '',
        tp_type varchar(100) default '',
        instance_type varchar(100) default '',
        instance_ref varchar(100) default '',
        ref_type varchar(100) default '',
        PRIMARY KEY (service_id)
        )
    </select>

    <!--    INSERT    -->

    <select id="insertNode" parameterType="com.woorinet.plugin.demo.DTO.SDN.NODE">
        REPLACE INTO
        SDN.Node(
        ems_id,
        ne_id,
        ne_name,
        ne_type,
        ne_model,
        ne_status,
        sw_ver,
        ip_addr,
        vendor,
        serial_num,
        sys_type
        ) VALUES (
        #{ems_id},
        #{ne_id},
        #{ne_name},
        #{ne_type},
        #{ne_model},
        #{ne_status},
        #{sw_ver},
        #{ip_addr},
        #{vendor},
        #{serial_num},
        #{sys_type}
        )
    </select>

    <select id="insertConnector" parameterType="com.woorinet.plugin.demo.DTO.SDN.CONNECTOR">
        REPLACE INTO
        SDN.Connector(
        ems_id,
        connect_id,
        connect_type,
        ne_id,
        ne_name,
        rack_id,
        shelf_id,
        slot_id,
        subslot_id,
        port_id,
        connect_status,
        connect_role,
        connect_idle,
        connect_llcf,
        connect_lambda,
        module_name,
        connect_pec,
        connect_serial,
        unit_type
        ) VALUES (
        #{ems_id},
        #{connect_id},
        #{connect_type},
        #{ne_id},
        #{ne_name},
        #{rack_id},
        #{shelf_id},
        #{slot_id},
        #{subslot_id},
        #{port_id},
        #{connect_status},
        #{connect_role},
        #{connect_idle},
        #{connect_llcf},
        #{connect_lambda},
        #{module_name},
        #{connect_pec},
        #{connect_serial},
        #{unit_type}
        )
    </select>

    <select id="insertLink" parameterType="com.woorinet.plugin.demo.DTO.SDN.LINK">
        REPLACE INTO
        SDN.Link(
        ems_id,
        dst_ems_id,
        link_id,
        link_nm,
        src_ne_id,
        src_ne_name,
        src_node_connector_id,
        dst_ne_id,
        dst_ne_name,
        dst_node_connector_id,
        link_type,
        link_status,
        link_category,
        high_order_tunnel,
        latency,
        distance,
        srlg,
        ovpn,
        timeslot,
        lambda,
        maximum_odu0s,
        maximum_odu1s,
        maximum_odu2s,
        maximum_odu2es,
        maximum_odu3s,
        maximum_odu4s,
        maximum_odu4cns,
        maximum_oduflexs,
        available_odu0s,
        available_odu1s,
        available_odu2s,
        available_odu2es,
        available_odu3s,
        available_odu4s,
        available_odu4cns,
        available_oduflexs
        ) VALUES (
        #{ems_id},
        #{dst_ems_id},
        #{link_id},
        #{link_nm},
        #{src_ne_id},
        #{src_ne_name},
        #{src_node_connector_id},
        #{dst_ne_id},
        #{dst_ne_name},
        #{dst_node_connector_id},
        #{link_type},
        #{link_status},
        #{link_category},
        #{high_order_tunnel},
        #{latency},
        #{distance},
        #{srlg},
        #{ovpn},
        #{timeslot},
        #{lambda},
        #{maximum_odu0s},
        #{maximum_odu1s},
        #{maximum_odu2s},
        #{maximum_odu2es},
        #{maximum_odu3s},
        #{maximum_odu4s},
        #{maximum_odu4cns},
        #{maximum_oduflexs},
        #{available_odu0s},
        #{available_odu1s},
        #{available_odu2s},
        #{available_odu2es},
        #{available_odu3s},
        #{available_odu4s},
        #{available_odu4cns},
        #{available_oduflexs}
        )
    </select>

    <select id="insertService" parameterType="com.woorinet.plugin.demo.DTO.SDN.SERVICE">
        REPLACE INTO
        SDN.Service(
        ems_id,
        service_id,
        src_ne_id,
        src_ne_name,
        src_connector_id,
        src_accessif_type,
        dst_ne_id,
        dst_ne_name,
        dst_connector_id,
        dst_accessif_type,
        service_type,
        service_name,
        network_type,
        service_status,
        rate_type,
        service_rate,
        latency,
        wavelength,
        active_path,
        creation_date
        ) VALUES (
        #{ems_id},
        #{service_id},
        #{src_ne_id},
        #{src_ne_name},
        #{src_connector_id},
        #{src_accessif_type},
        #{dst_ne_id},
        #{dst_ne_name},
        #{dst_connector_id},
        #{dst_accessif_type},
        #{service_type},
        #{service_name},
        #{network_type},
        #{service_status},
        #{rate_type},
        #{service_rate},
        #{latency},
        #{wavelength},
        #{active_path},
        #{creation_date}
        )
    </select>

    <select id="insertTunnel" parameterType="com.woorinet.plugin.demo.DTO.SDN.TUNNEL">
        REPLACE INTO
        SDN.Tunnel(
        ems_id,
        tunnel_id,
        src_ne_id,
        src_ne_name,
        dst_ne_id,
        dst_ne_name,
        rate_type,
        multiple_rate,
        local_id,
        request_id,
        tunnel_name,
        tunnel_type,
        tunnel_status,
        configuration_action,
        configuration_result_type,
        tunnel_oam_enabler,
        deployment_enabler,
        deployment_status,
        active_path,
        src_node_ref,
        dst_node_ref,
        service_ref,
        accessif_ref,
        protection_type,
        working_path,
        protection_path,
        service_mapping,
        creation_date
        ) VALUES (
        #{ems_id},
        #{tunnel_id},
        #{src_ne_id},
        #{src_ne_name},
        #{dst_ne_id},
        #{dst_ne_name},
        #{rate_type},
        #{multiple_rate},
        #{local_id},
        #{request_id},
        #{tunnel_name},
        #{tunnel_type},
        #{tunnel_status},
        #{configuration_action},
        #{configuration_result_type},
        #{tunnel_oam_enabler},
        #{deployment_enabler},
        #{deployment_status},
        #{active_path},
        #{src_node_ref},
        #{dst_node_ref},
        #{service_ref},
        #{accessif_ref},
        #{protection_type},
        #{working_path},
        #{protection_path},
        #{service_mapping},
        #{creation_date}
        )
    </select>

    <select id="insertAccessIf" parameterType="com.woorinet.plugin.demo.DTO.SDN.ACCESS_IF">
        REPLACE INTO
        SDN.AccessIf(
        ems_id,
        accessif_id,
        accessif_name,
        ne_id,
        connector_id,
        accessif_type,
        accessif_status,
        service_ref,
        node_connector_ref
        ) VALUES (
        #{ems_id},
        #{accessif_id},
        #{accessif_name},
        #{ne_id},
        #{connector_id},
        #{accessif_type},
        #{accessif_status},
        #{service_ref},
        #{node_connector_ref}
        )
    </select>

    <select id="insertConstraint" parameterType="com.woorinet.plugin.demo.DTO.SDN.CONSTRAINT">
        REPLACE INTO
        SDN.Constraint(
        ems_id,
        service_id,
        const_id,
        const_type,
        const_name,
        const_value,
        const_operator
        ) VALUES (
        #{ems_id},
        #{service_id},
        #{const_id},
        #{const_type},
        #{const_name},
        #{const_value},
        #{const_operator}
        )
    </select>

    <select id="insertPath" parameterType="com.woorinet.plugin.demo.DTO.SDN.PATH">
        REPLACE INTO
        SDN.Path(
        ems_id,
        service_id,
        path_type,
        connection_idx,
        connection_type,
        direction_type,
        tp_type,
        instance_type,
        instance_ref,
        ref_type
        ) VALUES (
        #{ems_id},
        #{service_id},
        #{path_type},
        #{connection_idx},
        #{connection_type},
        #{direction_type},
        #{tp_type},
        #{instance_type},
        #{instance_ref},
        #{ref_type}
        )
    </select>


</mapper>